In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import scipy.optimize
import pandas.io.sql as psql
import pandas as pd
import sys
sys.path.insert(0,'C:\Users\Sean Violante\Documents\Projects\lendico\lib')
import dwh
from __future__ import division

In [2]:
%matplotlib qt

In [3]:
conn = dwh.get_DWH()

In [5]:
loans_sql="""select l.*, gblrc.credit_agency_score, gblrc.pd, gblrc.pd_original, gblrc.lgd, gblrc.in_arrears_since, 
gblrc.date_of_first_loan_offer,
ranking.rating as ranking_rating, ranking.pd_start as ranking_pd_start, ranking.pd_end as ranking_pd_end,
lp.payback_day,lp.payout_date, lp.state as payback_state, lp.auto_in_arrears_since, lp.in_arrears_since in_arrears_since_man
from base.loan l
join il.global_borrower_loan_requests_cohort gblrc
on (l.dwh_country_id=gblrc.dwh_country_id and l.loan_nr=gblrc.loan_request_nr)
left join backend.ranking ranking
on (l.dwh_country_id=ranking.dwh_country_id and l.fk_ranking=ranking.id_ranking)
join base.loan_payback lp
on (l.dwh_country_id=lp.dwh_country_id and l.id_loan=lp.fk_loan)
where 
    l.state!='canceled' and 
    originated_since is not null"""

In [17]:
investor_returns_sql="""select ir.* from base.investor_return ir 
join base.loan_funding lf on (ir.dwh_country_id=lf.dwh_country_id and ir.fk_loan=lf.fk_loan and ir.fk_user=lf.fk_user)
where lf.state='funded'"""

In [7]:
loan_fundings_sql="""select * from base.loan_funding where state='funded'"""

In [8]:
%time loans=psql.read_sql(loans_sql,conn)

Wall time: 12.3 s

In [ ]:
base_returns=pd.read_csv(r'C:\Users\Sean Violante\Documents\Projects\lendico\Projects\Returns\base_rates.csv')
ds=np.array(base_returns.date.unique(),'datetime64[D]' )# do whilst treated as string


base_returns['date']=np.array(base_returns['date'],'datetime64[D]')
base_returns_stack=base_returns.set_index(['date','rating']).rename(columns=lambda x:int(x[9:])).stack()
base_returns_stack.index.names=['base_date','rating','duration_months']

base_returns_stack.name='base_return'

d1=np.array(loans.date_of_first_loan_offer,'datetime64[D]')
d2=np.searchsorted(ds,d1,side='right')
loans['base_date']=ds[d2-1]
loans['duration_months']=(loans['duration']/30).astype(np.int64)

if 'base_return' in loans.columns:
    del loans['base_return']
loans=loans.merge(base_returns_stack.reset_index(),on=['base_date','rating','duration_months'],how='left')
loans.base_return.isnull().sum()

In [9]:
%time loan_fundings=psql.read_sql(loan_fundings_sql,conn)

Wall time: 36.4 s

In [18]:
%time investor_returns=psql.read_sql(investor_returns_sql,conn)

Wall time: 17min 28s

In [10]:
loans['rating_base']=loans.rating.str[0]

In [48]:
loans.columns

Index([                 u'dwh_country_id',                         u'id_loan',
                       u'fk_loan_request',                         u'fk_user',
                            u'fk_ranking',                    u'country_name',
                         u'currency_code',      u'loan_request_creation_date',
                              u'user_age',                         u'loan_nr',
                                 u'title',                         u'purpose',
                   u'financial_situation',                     u'self_rating',
                                u'rating',                u'principal_amount',
                              u'duration',     u'nominal_interest_percentage',
             u'promo_interest_percentage',                      u'fee_amount',
                       u'interest_amount',                   u'total_payback',
                             u'is_active',                        u'category',
                    u'ranking_serialized',                           u'state',
                          u'global_state',               u'originating_since',
                      u'originated_since',                        u'due_date',
                         u'funded_amount',                      u'ip_address',
                            u'live_since',               u'ranking_parameter',
                        u'acc_account_id',               u'date_of_signature',
                          u'borrower_fee',                      u'lender_fee',
                    u'data_accessible_by',                  u'date_of_payout',
          u'date_of_origination_complete',     u'interest_calculation_method',
       u'initial_interest_split_strategy',   u'effective_interest_percentage',
                         u'cancel_reason',           u'cancel_reason_comment',
                  u'eur_principal_amount',                  u'eur_fee_amount',
                   u'eur_interest_amount',               u'eur_total_payback',
                            u'created_at',                      u'updated_at',
                           u'dwh_created',               u'dwh_last_modified',
                   u'credit_agency_score',                              u'pd',
                           u'pd_original',                             u'lgd',
                      u'in_arrears_since',        u'date_of_first_loan_offer',
                        u'ranking_rating',                u'ranking_pd_start',
                        u'ranking_pd_end',                     u'payback_day',
                           u'payout_date',                   u'payback_state',
                 u'auto_in_arrears_since',            u'in_arrears_since_man',
                           u'rating_base',           u'originated_since_date'],
      dtype='object')

In [54]:
loan_fundings1.columns

Index([                 u'dwh_country_id',                 u'id_loan_funding',
                               u'fk_loan',                 u'fk_loan_request',
                               u'fk_user',                    u'country_name',
                         u'currency_code',      u'loan_request_creation_date',
                                u'amount',                u'investment_yield',
                                 u'state',                   u'is_authorized',
                   u'authorization_token', u'loan_request_funding_created_at',
                               u'country',              u'data_accessible_by',
                        u'investment_fee',         u'investment_return_state',
                         u'payment_count',               u'last_payment_date',
                    u'irregular_payments',                    u'close_reason',
                            u'eur_amount',                      u'created_at',
                            u'updated_at',                     u'dwh_created',
                     u'dwh_last_modified',                         u'id_loan',
                 u'originated_since_date',                     u'payback_day',
                      u'principal_amount'],
      dtype='object')

In [14]:
loans['originated_since_date']=np.array(loans.payout_date,'datetime64[D]')

In [49]:
loan_fundings1=loan_fundings.merge(loans[['dwh_country_id','id_loan','originated_since_date','payback_day','principal_amount']],left_on=['dwh_country_id','fk_loan'],right_on=['dwh_country_id','id_loan'])

In [19]:
loan_fundings.head()

,dwh_country_id,id_loan_funding,fk_loan,fk_loan_request,fk_user,country_name,currency_code,loan_request_creation_date,amount,investment_yield,...,investment_return_state,payment_count,last_payment_date,irregular_payments,close_reason,eur_amount,created_at,updated_at,dwh_created,dwh_last_modified
0,1,126,8,12,829,Germany,EUR,2013-11-30,200,3.9073,...,idle,17,2015-05-26 10:44:21,None,None,200,2013-12-13 17:29:43,2015-05-26 10:44:22,2014-02-21 17:33:03.857077,2015-05-26 11:24:15.505934
1,1,135,8,12,1228,Germany,EUR,2013-11-30,100,3.8981,...,idle,17,2015-05-26 10:35:31,None,None,100,2013-12-13 17:29:43,2015-05-26 10:35:32,2014-02-21 17:33:03.857077,2015-05-26 11:24:15.505934
2,1,119,8,12,574,Germany,EUR,2013-11-30,25,3.8616,...,idle,17,2015-05-26 16:06:37,None,None,25,2013-12-13 17:29:43,2015-05-26 16:06:39,2014-02-21 17:33:03.857077,2015-05-26 16:13:46.588376
3,1,113,8,12,447,Germany,EUR,2013-11-30,25,3.8616,...,idle,17,2015-05-26 15:26:23,None,None,25,2013-12-13 17:29:42,2015-05-26 15:26:25,2014-02-21 17:33:03.857077,2015-05-26 16:13:46.588376
4,1,92,8,12,88,Germany,EUR,2013-11-30,25,3.8616,...,idle,17,2015-05-26 15:25:08,None,None,25,2013-12-13 17:29:42,2015-05-26 15:25:10,2014-02-21 17:33:03.857077,2015-05-26 16:13:46.588376

In [20]:
investor_returns.head()

,dwh_country_id,fk_loan,fk_user,interval,interval_payback_date,next_interval_payback_date,payment_amount_plan,principal_amount_plan,interest_amount_plan,initial_principal_amount_plan,...,eur_payment_amount_plan,eur_principal_amount_plan,eur_interest_amount_plan,eur_initial_principal_amount_plan,eur_sum_interval_interest_amount_plan,eur_residual_interest_amount_plan,eur_residual_principal_amount_plan,eur_payment_amount_transaction,eur_principal_amount_transaction,eur_interest_amount_transaction
0,16,1,3,6,2014-10-15,2014-11-15,112.3,108.0135,4.2865,768.8490,...,26.8259,25.8019,1.0239,183.6601,8.2736,3.0945,157.8582,26.825854,25.945768,0.880086
1,16,1,3,5,2014-09-15,2014-10-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.825854,25.801918,1.023936
2,16,1,3,5,2014-09-15,2014-10-15,112.3,107.4147,4.8853,876.2637,...,26.8259,25.6589,1.1670,209.3190,7.2497,4.1185,183.6601,26.825854,25.658866,1.166988
3,16,1,3,4,2014-08-15,2014-09-15,112.3,106.8191,5.4809,983.0828,...,26.8259,25.5166,1.3093,234.8356,6.0827,5.2855,209.3190,26.825854,25.516606,1.309248
4,16,1,3,3,2014-07-15,2014-08-15,112.3,106.2269,6.0731,1089.3098,...,26.8259,25.3751,1.4507,260.2107,4.7734,6.5947,234.8356,NaN,NaN,NaN

In [25]:
z=investor_returns
z[(z.fk_loan==3) & (z.fk_user==38)].sort('interval_payback_date',inplace=False)

,dwh_country_id,fk_loan,fk_user,interval,interval_payback_date,next_interval_payback_date,payment_amount_plan,principal_amount_plan,interest_amount_plan,initial_principal_amount_plan,...,eur_payment_amount_plan,eur_principal_amount_plan,eur_interest_amount_plan,eur_initial_principal_amount_plan,eur_sum_interval_interest_amount_plan,eur_residual_interest_amount_plan,eur_residual_principal_amount_plan,eur_payment_amount_transaction,eur_principal_amount_transaction,eur_interest_amount_transaction
489,1,3,38,1,2014-02-15,2014-03-15,34.99,31.8545,3.1355,800.0000,...,34.99,31.8545,3.1355,800.0000,3.1355,36.6545,768.1455,34.99,31.854467,3.135533
488,1,3,38,2,2014-03-15,2014-04-15,34.99,31.9793,3.0107,768.1455,...,34.99,31.9793,3.0107,768.1455,6.1462,33.6438,736.1662,34.99,31.979318,3.010682
487,1,3,38,3,2014-04-15,2014-05-15,34.99,32.1047,2.8853,736.1662,...,34.99,32.1047,2.8853,736.1662,9.0316,30.7584,704.0616,34.99,32.104658,2.885342
486,1,3,38,4,2014-05-15,2014-06-15,34.99,32.2305,2.7595,704.0616,...,34.99,32.2305,2.7595,704.0616,11.7911,27.9989,671.8311,34.99,32.230489,2.759511
485,1,3,38,5,2014-06-15,2014-07-15,34.99,32.3568,2.6332,671.8311,...,34.99,32.3568,2.6332,671.8311,14.4243,25.3657,639.4743,34.99,32.356814,2.633186
484,1,3,38,6,2014-07-15,2014-08-15,34.99,32.4836,2.5064,639.4743,...,34.99,32.4836,2.5064,639.4743,16.9306,22.8594,606.9906,34.99,32.483634,2.506366
483,1,3,38,7,2014-08-15,2014-09-15,34.99,32.6110,2.3790,606.9906,...,34.99,32.6110,2.3790,606.9906,19.3097,20.4803,574.3797,34.99,32.610951,2.379049
482,1,3,38,8,2014-09-15,2014-10-15,34.99,32.7388,2.2512,574.3797,...,34.99,32.7388,2.2512,574.3797,21.5609,18.2291,541.6409,34.99,32.738767,2.251233
481,1,3,38,9,2014-10-15,2014-11-15,34.99,32.8671,2.1229,541.6409,...,34.99,32.8671,2.1229,541.6409,23.6838,16.1062,508.7738,34.99,32.867084,2.122916
494,1,3,38,10,2014-11-15,2014-12-15,34.99,32.9959,1.9941,508.7738,...,34.99,32.9959,1.9941,508.7738,25.6779,14.1121,475.7779,NaN,NaN,NaN
491,1,3,38,11,2014-12-15,2015-01-15,34.99,33.1252,1.8648,475.7779,...,34.99,33.1252,1.8648,475.7779,27.5427,12.2473,442.6527,34.99,33.125228,1.864772
490,1,3,38,12,2015-01-15,2015-02-15,34.99,33.2551,1.7349,442.6527,...,34.99,33.2551,1.7349,442.6527,29.2776,10.5124,409.3976,34.99,33.255060,1.734940
492,1,3,38,13,2015-02-15,2015-03-15,34.99,33.3854,1.6046,409.3976,...,34.99,33.3854,1.6046,409.3976,30.8822,8.9078,376.0122,34.99,33.385400,1.604600
493,1,3,38,14,2015-03-15,2015-04-15,34.99,33.5163,1.4737,376.0122,...,34.99,33.5163,1.4737,376.0122,32.3560,7.4340,342.4960,34.99,33.516251,1.473749
504,1,3,38,15,2015-04-15,2015-05-15,34.99,33.6476,1.3424,342.4960,...,34.99,33.6476,1.3424,342.4960,33.6984,6.0916,308.8484,34.99,33.647616,1.342384
503,1,3,38,16,2015-05-15,2015-06-15,34.99,33.7795,1.2105,308.8484,...,34.99,33.7795,1.2105,308.8484,34.9089,4.8811,275.0689,34.99,33.779495,1.210505
502,1,3,38,17,2015-06-15,2015-07-15,34.99,33.9119,1.0781,275.0689,...,34.99,33.9119,1.0781,275.0689,35.9870,3.8030,241.1570,NaN,NaN,NaN
501,1,3,38,18,2015-07-15,2015-08-15,34.99,34.0448,0.9452,241.1570,...,34.99,34.0448,0.9452,241.1570,36.9322,2.8578,207.1122,NaN,NaN,NaN
500,1,3,38,19,2015-08-15,2015-09-15,34.99,34.1782,0.8118,207.1122,...,34.99,34.1782,0.8118,207.1122,37.7439,2.0461,172.9339,NaN,NaN,NaN
499,1,3,38,20,2015-09-15,2015-10-15,34.99,34.3122,0.6778,172.9339,...,34.99,34.3122,0.6778,172.9339,38.4217,1.3683,138.6217,NaN,NaN,NaN
498,1,3,38,21,2015-10-15,2015-11-15,34.99,34.4467,0.5433,138.6217,...,34.99,34.4467,0.5433,138.6217,38.9650,0.8250,104.1750,NaN,NaN,NaN
497,1,3,38,22,2015-11-15,2015-12-15,34.99,34.5817,0.4083,104.1750,...,34.99,34.5817,0.4083,104.1750,39.3733,0.4167,69.5933,NaN,NaN,NaN
496,1,3,38,23,2015-12-15,2016-01-15,34.99,34.7172,0.2728,69.5933,...,34.99,34.7172,0.2728,69.5933,39.6461,0.1439,34.8761,NaN,NaN,NaN
495,1,3,38,24,2016-01-15,2199-01-01,35.02,34.8761,0.1439,34.8761,...,35.02,34.8761,0.1439,34.8761,39.7900,0.0000,0.0000,NaN,NaN,NaN

In [27]:
investor_returns.columns

Index([                       u'dwh_country_id',
                                     u'fk_loan',
                                     u'fk_user',
                                    u'interval',
                       u'interval_payback_date',
                  u'next_interval_payback_date',
                         u'payment_amount_plan',
                       u'principal_amount_plan',
                        u'interest_amount_plan',
               u'initial_principal_amount_plan',
           u'sum_interval_interest_amount_plan',
               u'residual_interest_amount_plan',
              u'residual_principal_amount_plan',
                            u'transaction_date',
                  u'payment_amount_transaction',
                u'principal_amount_transaction',
                 u'interest_amount_transaction',
                     u'eur_payment_amount_plan',
                   u'eur_principal_amount_plan',
                    u'eur_interest_amount_plan',
           u'eur_initial_principal_amount_plan',
       u'eur_sum_interval_interest_amount_plan',
           u'eur_residual_interest_amount_plan',
          u'eur_residual_principal_amount_plan',
              u'eur_payment_amount_transaction',
            u'eur_principal_amount_transaction',
             u'eur_interest_amount_transaction'],
      dtype='object')

In [29]:
loan_fundings.head().T

,0,1,2,3,4
dwh_country_id,1,1,1,1,1
id_loan_funding,126,135,119,113,92
fk_loan,8,8,8,8,8
fk_loan_request,12,12,12,12,12
fk_user,829,1228,574,447,88
country_name,Germany,Germany,Germany,Germany,Germany
currency_code,EUR,EUR,EUR,EUR,EUR
loan_request_creation_date,2013-11-30 00:00:00,2013-11-30 00:00:00,2013-11-30 00:00:00,2013-11-30 00:00:00,2013-11-30 00:00:00
amount,200,100,25,25,25
investment_yield,3.9073,3.8981,3.8616,3.8616,3.8616
state,funded,funded,funded,funded,funded
is_authorized,0,0,0,0,1
authorization_token,None,None,None,None,None
loan_request_funding_created_at,2013-12-10 15:06:47,2013-12-12 19:39:24,2013-12-12 21:11:07,2013-12-12 10:15:13,2013-12-01 12:55:07
country,1,1,1,1,1
data_accessible_by,4.611686e+18,4.611686e+18,4.611686e+18,4.611686e+18,4.611686e+18
investment_fee,NaN,NaN,NaN,NaN,NaN
investment_return_state,idle,idle,idle,idle,idle
payment_count,17,17,17,17,17
last_payment_date,2015-05-26 10:44:21,2015-05-26 10:35:31,2015-05-26 16:06:37,2015-05-26 15:26:23,2015-05-26 15:25:08
irregular_payments,None,None,None,None,None
close_reason,None,None,None,None,None
eur_amount,200,100,25,25,25
created_at,2013-12-13 17:29:43,2013-12-13 17:29:43,2013-12-13 17:29:43,2013-12-13 17:29:42,2013-12-13 17:29:42
updated_at,2015-05-26 10:44:22,2015-05-26 10:35:32,2015-05-26 16:06:39,2015-05-26 15:26:25,2015-05-26 15:25:10
dwh_created,2014-02-21 17:33:03.857077,2014-02-21 17:33:03.857077,2014-02-21 17:33:03.857077,2014-02-21 17:33:03.857077,2014-02-21 17:33:03.857077
dwh_last_modified,2015-05-26 11:24:15.505934,2015-05-26 11:24:15.505934,2015-05-26 16:13:46.588376,2015-05-26 16:13:46.588376,2015-05-26 16:13:46.588376

In [70]:
def generate_cashflows_act_investor( actual,loan_funding):
    """  generate cashflows for IRR calc.
    take payments and add initial principal 
    NO HANDLING DEFAULTS
        
    """
    #if default take full outstanding borrower principal *(1-1% service fee)  * recovery fraction
       
    
    loans_orig=loan_funding[['dwh_country_id','fk_loan','fk_user','originated_since_date','eur_amount']].copy()
    loans_orig.eur_amount=-loans_orig.eur_amount
    loans_orig.rename(columns={'originated_since_date':'date' ,'eur_amount':'payment'},inplace=True)
    
    act=actual.loc[actual.transaction_date.notnull(),['dwh_country_id','fk_loan','transaction_date','fk_user','eur_payment_amount_transaction']].\
        rename(columns={'transaction_date':'date', 'eur_payment_amount_transaction':'payment'})
    #find residual at latest
    act.date=np.array(act.date,'datetime64[D]')
    
    
    cashflows=pd.concat([loans_orig, act],ignore_index=True)
    cashflows=cashflows.merge(loan_funding[['dwh_country_id', 'fk_loan','fk_user','originated_since_date']], on=['dwh_country_id','fk_loan','fk_user'])
    cashflows['dcf']=(np.datetime64('2015-04-01','D')  -cashflows["date"].values)/np.timedelta64(1,'D')/365    
    return cashflows

In [ ]:
generate_remaining_principal_act_investor(actual):
    act=actual.loc[actual.transaction_date.notnull(),['dwh_country_id','fk_loan','fk_user',\
                                                      'transaction_date','interval_payback_date',
                                                      'eur_residual_principal_amount_plan']].\
        rename(columns={'interval_payback_date':'date_outstanding', 'eur_residual_principal_amount_plan':'payment'})

In [34]:
loan_fundings1.columns

Index([                 u'dwh_country_id',                 u'id_loan_funding',
                               u'fk_loan',                 u'fk_loan_request',
                               u'fk_user',                    u'country_name',
                         u'currency_code',      u'loan_request_creation_date',
                                u'amount',                u'investment_yield',
                                 u'state',                   u'is_authorized',
                   u'authorization_token', u'loan_request_funding_created_at',
                               u'country',              u'data_accessible_by',
                        u'investment_fee',         u'investment_return_state',
                         u'payment_count',               u'last_payment_date',
                    u'irregular_payments',                    u'close_reason',
                            u'eur_amount',                      u'created_at',
                            u'updated_at',                     u'dwh_created',
                     u'dwh_last_modified',                         u'id_loan',
                 u'originated_since_date',                     u'payback_day',
                      u'principal_amount'],
      dtype='object')

In [87]:
investor_returns1=investor_returns.sort(['interval_payback_date','transaction_date'],inplace=False)

In [119]:
z=investor_returns1
z1=z[(z.dwh_country_id==1)&(z.fk_loan==3)& (z.fk_user==38)]
z1.to_clipboard()

In [123]:
investor_returns1_gp=investor_returns1.groupby(['dwh_country_id','fk_loan','fk_user'])
def outst(x):
    """ find outstanding principal.
    for each plan date find latest paid amount and therefore corresponding remaining principal
    """
    y=x.loc[x.transaction_date.notnull(),['transaction_date','eur_residual_principal_amount_plan']]
    y['match_date']=np.array(y['transaction_date'],'datetime64[D]')-np.timedelta64(7,'D')
    
    y=y.set_index('match_date')
    idx=x.interval_payback_date.dropna().unique()
    # will get none if payment is made before plan starts
    refill=y.reindex(index=idx,method='ffill')
    return refill

outstanding_principals=investor_returns1_gp.apply(outst)

ValueError: index must be monotonic increasing or decreasing

In [124]:
%debug

> c:\anaconda\lib\site-packages\pandas\core\index.py(2403)_searchsorted_monotonic()
   2402
-> 2403         raise ValueError('index must be monotonic increasing or decreasing')
   2404

ipdb> u
> c:\anaconda\lib\site-packages\pandas\core\index.py(1729)_get_fill_indexer_searchsorted()
   1728         nonexact = (indexer == -1)
-> 1729         indexer[nonexact] = self._searchsorted_monotonic(target[nonexact], side)
   1730         if side == 'left':

ipdb> u
> c:\anaconda\lib\site-packages\pandas\core\index.py(1711)_get_fill_indexer()
   1710         else:
-> 1711             indexer = self._get_fill_indexer_searchsorted(target, method, limit)
   1712         return indexer

ipdb> u
> c:\anaconda\lib\site-packages\pandas\core\index.py(1697)get_indexer()
   1696         if method == 'pad' or method == 'backfill':
-> 1697             indexer = self._get_fill_indexer(target, method, limit)
   1698         elif method == 'nearest':

ipdb> u
> c:\anaconda\lib\site-packages\pandas\core\index.py(1685)get_indexer()
   1684         if pself is not self or ptarget is not target:
-> 1685             return pself.get_indexer(ptarget, method=method, limit=limit)
   1686

ipdb> u
> c:\anaconda\lib\site-packages\pandas\core\index.py(1908)reindex()
   1907                     indexer = self.get_indexer(target, method=method,
-> 1908                                                limit=limit)
   1909                 else:

ipdb> u
> c:\anaconda\lib\site-packages\pandas\core\frame.py(2471)_reindex_index()
   2470         new_index, indexer = self.index.reindex(new_index, method, level,
-> 2471                                                 limit=limit)
   2472         return self._reindex_with_indexers({0: [new_index, indexer]},

ipdb> u
> c:\anaconda\lib\site-packages\pandas\core\frame.py(2464)_reindex_axes()
   2463             frame = frame._reindex_index(index, method, copy, level,
-> 2464                                          fill_value, limit)
   2465

ipdb> u
> c:\anaconda\lib\site-packages\pandas\core\generic.py(1770)reindex()
   1769         return self._reindex_axes(axes, level, limit,
-> 1770                                   method, fill_value, copy).__finalize__(self)
   1771

ipdb> u
> c:\anaconda\lib\site-packages\pandas\core\frame.py(2505)reindex()
   2504         return super(DataFrame, self).reindex(index=index, columns=columns,
-> 2505                                               **kwargs)
   2506

ipdb> u
> <ipython-input-123-11c93f9d00f2>(12)outst()
     11     # will get none if payment is made before plan starts
---> 12     refill=y.reindex(index=idx,method='ffill')
     13     return refill

ipdb> idx
array([datetime.date(2014, 6, 1), datetime.date(2014, 7, 1),
       datetime.date(2014, 8, 1), datetime.date(2014, 9, 1),
       datetime.date(2014, 10, 1), datetime.date(2014, 11, 1),
       datetime.date(2014, 12, 1), datetime.date(2015, 1, 1),
       datetime.date(2015, 2, 1), datetime.date(2015, 2, 23)], dtype=object)
ipdb> y
           transaction_date  eur_residual_principal_amount_plan
match_date
2014-06-05       2014-06-12                            361.1236
2014-06-25       2014-07-02                            347.1064
2014-07-30       2014-08-06                            332.9470
2014-08-26       2014-09-02                            318.6440
2014-09-25       2014-10-02                            304.1960
2014-10-28       2014-11-04                            289.6014
2014-11-28       2014-12-05                            274.8588
2015-01-05       2015-01-12                            259.9666
2015-01-29       2015-02-05                            244.9234
2015-02-17       2015-02-24                              0.0000
2014-04-30       2014-05-07                                 NaN
ipdb> x
       dwh_country_id  fk_loan  fk_user  interval interval_payback_date  \
28140               4       19        1         1            2014-06-01
28130               4       19        1         2            2014-07-01
28139               4       19        1         3            2014-08-01
28138               4       19        1         4            2014-09-01
28137               4       19        1         5            2014-10-01
28136               4       19        1         6            2014-11-01
28135               4       19        1         7            2014-12-01
28134               4       19        1         8            2015-01-01
28133               4       19        1         9            2015-02-01
28132               4       19        1        10            2015-02-23
28131               4       19        1       NaN                  None

      next_interval_payback_date  payment_amount_plan  principal_amount_plan  \
28140                 2014-07-01                17.68                13.8764
28130                 2014-08-01                17.68                14.0172
28139                 2014-09-01                17.68                14.1594
28138                 2014-10-01                17.68                14.3030
28137                 2014-11-01                17.68                14.4480
28136                 2014-12-01                17.68                14.5946
28135                 2015-01-01                17.68                14.7426
28134                 2015-02-01                17.68                14.8922
28133                 2015-02-23                17.68                15.0432
28132                 2199-01-01               246.75               244.9234
28131                       None                  NaN                    NaN

       interest_amount_plan  initial_principal_amount_plan  \
28140                3.8036                       375.0000
28130                3.6628                       361.1236
28139                3.5206                       347.1064
28138                3.3770                       332.9470
28137                3.2320                       318.6440
28136                3.0854                       304.1960
28135                2.9374                       289.6014
28134                2.7878                       274.8588
28133                2.6368                       259.9666
28132                1.8218                       244.9234
28131                   NaN                            NaN

                    ...                 eur_payment_amount_plan  \
28140               ...                                   17.68
28130               ...                                   17.68
28139               ...                                   17.68
28138               ...                                   17.68
28137               ...                                   17.68
28136               ...                                   17.68
28135               ...                                   17.68
28134               ...                                   17.68
28133               ...                                   17.68
28132               ...                                  246.75
28131               ...                                     NaN

       eur_principal_amount_plan  eur_interest_amount_plan  \
28140                    13.8764                    3.8036
28130                    14.0172                    3.6628
28139                    14.1594                    3.5206
28138                    14.3030                    3.3770
28137                    14.4480                    3.2320
28136                    14.5946                    3.0854
28135                    14.7426                    2.9374
28134                    14.8922                    2.7878
28133                    15.0432                    2.6368
28132                   244.9234                    1.8218
28131                        NaN                       NaN

      eur_initial_principal_amount_plan  \
28140                          375.0000
28130                          361.1236
28139                          347.1064
28138                          332.9470
28137                          318.6440
28136                          304.1960
28135                          289.6014
28134                          274.8588
28133                          259.9666
28132                          244.9234
28131                               NaN

       eur_sum_interval_interest_amount_plan  \
28140                                    NaN
28130                                    NaN
28139                                    NaN
28138                                    NaN
28137                                    NaN
28136                                    NaN
28135                                    NaN
28134                                    NaN
28133                                    NaN
28132                                    NaN
28131                                    NaN

       eur_residual_interest_amount_plan  eur_residual_principal_amount_plan  \
28140                                NaN                            361.1236
28130                                NaN                            347.1064
28139                                NaN                            332.9470
28138                                NaN                            318.6440
28137                                NaN                            304.1960
28136                                NaN                            289.6014
28135                                NaN                            274.8588
28134                                NaN                            259.9666
28133                                NaN                            244.9234
28132                                NaN                              0.0000
28131                                NaN                                 NaN

       eur_payment_amount_transaction  eur_principal_amount_transaction  \
28140                       17.680000                         13.876437
28130                       17.680000                         14.017184
28139                       17.680000                         14.159358
28138                       17.680000                         14.302974
28137                       17.680000                         14.448047
28136                       17.680000                         14.594591
28135                       17.680000                         14.742621
28134                       17.680000                         14.892153
28133                       17.680000                         15.043202
28132                      246.745193                        244.923433
28131                        1.220000                          0.000000

       eur_interest_amount_transaction
28140                         3.803563
28130                         3.662816
28139                         3.520642
28138                         3.377026
28137                         3.231953
28136                         3.085409
28135                         2.937379
28134                         2.787847
28133                         2.636798
28132                         1.821760
28131                         1.220000

[11 rows x 27 columns]
ipdb> q

In [122]:
z=investor_returns1
z[(z.dwh_country_id==1)&(z.fk_loan==1479) & (z.fk_user==80357)]

,dwh_country_id,fk_loan,fk_user,interval,interval_payback_date,next_interval_payback_date,payment_amount_plan,principal_amount_plan,interest_amount_plan,initial_principal_amount_plan,...,eur_payment_amount_plan,eur_principal_amount_plan,eur_interest_amount_plan,eur_initial_principal_amount_plan,eur_sum_interval_interest_amount_plan,eur_residual_interest_amount_plan,eur_residual_principal_amount_plan,eur_payment_amount_transaction,eur_principal_amount_transaction,eur_interest_amount_transaction
1610981,1,1479,80357,0,2015-04-15,2015-05-15,68.77,0.0000,68.7700,15000.0000,...,68.77,0.0000,68.7700,15000.0000,NaN,NaN,15000.0000,NaN,NaN,NaN
1610982,1,1479,80357,1,2015-05-15,2015-06-15,456.62,381.0925,75.5275,15000.0000,...,456.62,381.0925,75.5275,15000.0000,NaN,NaN,14618.9075,456.62,381.0925,75.5275
1610983,1,1479,80357,2,2015-06-15,2015-07-15,456.62,383.0114,73.6086,14618.9075,...,456.62,383.0114,73.6086,14618.9075,NaN,NaN,14235.8961,NaN,NaN,NaN
1610984,1,1479,80357,3,2015-07-15,2015-08-15,456.62,384.9399,71.6801,14235.8961,...,456.62,384.9399,71.6801,14235.8961,NaN,NaN,13850.9562,NaN,NaN,NaN
1610985,1,1479,80357,4,2015-08-15,2015-09-15,456.62,386.8781,69.7419,13850.9562,...,456.62,386.8781,69.7419,13850.9562,NaN,NaN,13464.0781,NaN,NaN,NaN
1610986,1,1479,80357,5,2015-09-15,2015-10-15,456.62,388.8261,67.7939,13464.0781,...,456.62,388.8261,67.7939,13464.0781,NaN,NaN,13075.2520,NaN,NaN,NaN
1610987,1,1479,80357,6,2015-10-15,2015-11-15,456.62,390.7839,65.8361,13075.2520,...,456.62,390.7839,65.8361,13075.2520,NaN,NaN,12684.4681,NaN,NaN,NaN
1610988,1,1479,80357,7,2015-11-15,2015-12-15,456.62,392.7516,63.8684,12684.4681,...,456.62,392.7516,63.8684,12684.4681,NaN,NaN,12291.7165,NaN,NaN,NaN
1610989,1,1479,80357,8,2015-12-15,2016-01-15,456.62,394.7292,61.8908,12291.7165,...,456.62,394.7292,61.8908,12291.7165,NaN,NaN,11896.9873,NaN,NaN,NaN
1610990,1,1479,80357,9,2016-01-15,2016-02-15,456.62,396.7167,59.9033,11896.9873,...,456.62,396.7167,59.9033,11896.9873,NaN,NaN,11500.2706,NaN,NaN,NaN
1610991,1,1479,80357,10,2016-02-15,2016-03-15,456.62,398.7142,57.9058,11500.2706,...,456.62,398.7142,57.9058,11500.2706,NaN,NaN,11101.5564,NaN,NaN,NaN
1610992,1,1479,80357,11,2016-03-15,2016-04-15,456.62,400.7218,55.8982,11101.5564,...,456.62,400.7218,55.8982,11101.5564,NaN,NaN,10700.8346,NaN,NaN,NaN
1610993,1,1479,80357,12,2016-04-15,2016-05-15,456.62,402.7395,53.8805,10700.8346,...,456.62,402.7395,53.8805,10700.8346,NaN,NaN,10298.0951,NaN,NaN,NaN
1610994,1,1479,80357,13,2016-05-15,2016-06-15,456.62,404.7674,51.8526,10298.0951,...,456.62,404.7674,51.8526,10298.0951,NaN,NaN,9893.3277,NaN,NaN,NaN
1610995,1,1479,80357,14,2016-06-15,2016-07-15,456.62,406.8054,49.8146,9893.3277,...,456.62,406.8054,49.8146,9893.3277,NaN,NaN,9486.5223,NaN,NaN,NaN
1610996,1,1479,80357,15,2016-07-15,2016-08-15,456.62,408.8538,47.7662,9486.5223,...,456.62,408.8538,47.7662,9486.5223,NaN,NaN,9077.6685,NaN,NaN,NaN
1610997,1,1479,80357,16,2016-08-15,2016-09-15,456.62,410.9124,45.7076,9077.6685,...,456.62,410.9124,45.7076,9077.6685,NaN,NaN,8666.7561,NaN,NaN,NaN
1610998,1,1479,80357,17,2016-09-15,2016-10-15,456.62,412.9814,43.6386,8666.7561,...,456.62,412.9814,43.6386,8666.7561,NaN,NaN,8253.7746,NaN,NaN,NaN
1611000,1,1479,80357,18,2016-10-15,2016-11-15,456.62,415.0609,41.5591,8253.7746,...,456.62,415.0609,41.5591,8253.7746,NaN,NaN,7838.7138,NaN,NaN,NaN
1611001,1,1479,80357,19,2016-11-15,2016-12-15,456.62,417.1508,39.4692,7838.7138,...,456.62,417.1508,39.4692,7838.7138,NaN,NaN,7421.5630,NaN,NaN,NaN
1611002,1,1479,80357,20,2016-12-15,2017-01-15,456.62,419.2512,37.3688,7421.5630,...,456.62,419.2512,37.3688,7421.5630,NaN,NaN,7002.3118,NaN,NaN,NaN
1611003,1,1479,80357,21,2017-01-15,2017-02-15,456.62,421.3622,35.2578,7002.3118,...,456.62,421.3622,35.2578,7002.3118,NaN,NaN,6580.9496,NaN,NaN,NaN
1611004,1,1479,80357,22,2017-02-15,2017-03-15,456.62,423.4838,33.1362,6580.9496,...,456.62,423.4838,33.1362,6580.9496,NaN,NaN,6157.4658,NaN,NaN,NaN
1611005,1,1479,80357,23,2017-03-15,2017-04-15,456.62,425.6161,31.0039,6157.4658,...,456.62,425.6161,31.0039,6157.4658,NaN,NaN,5731.8496,NaN,NaN,NaN
1611006,1,1479,80357,24,2017-04-15,2017-05-15,456.62,427.7592,28.8608,5731.8496,...,456.62,427.7592,28.8608,5731.8496,NaN,NaN,5304.0905,NaN,NaN,NaN
1611007,1,1479,80357,25,2017-05-15,2017-06-15,456.62,429.9130,26.7070,5304.0905,...,456.62,429.9130,26.7070,5304.0905,NaN,NaN,4874.1774,NaN,NaN,NaN
1611008,1,1479,80357,26,2017-06-15,2017-07-15,456.62,432.0777,24.5423,4874.1774,...,456.62,432.0777,24.5423,4874.1774,NaN,NaN,4442.0997,NaN,NaN,NaN
1611009,1,1479,80357,27,2017-07-15,2017-08-15,456.62,434.2533,22.3667,4442.0997,...,456.62,434.2533,22.3667,4442.0997,NaN,NaN,4007.8464,NaN,NaN,NaN
1611010,1,1479,80357,28,2017-08-15,2017-09-15,456.62,436.4398,20.1802,4007.8464,...,456.62,436.4398,20.1802,4007.8464,NaN,NaN,3571.4066,NaN,NaN,NaN
1611011,1,1479,80357,29,2017-09-15,2017-10-15,456.62,438.6374,17.9826,3571.4066,...,456.62,438.6374,17.9826,3571.4066,NaN,NaN,3132.7693,NaN,NaN,NaN
1611012,1,1479,80357,30,2017-10-15,2017-11-15,456.62,440.8460,15.7740,3132.7693,...,456.62,440.8460,15.7740,3132.7693,NaN,NaN,2691.9233,NaN,NaN,NaN
1611013,1,1479,80357,31,2017-11-15,2017-12-15,456.62,443.0657,13.5543,2691.9233,...,456.62,443.0657,13.5543,2691.9233,NaN,NaN,2248.8575,NaN,NaN,NaN
1611015,1,1479,80357,32,2017-12-15,2018-01-15,456.62,445.2966,11.3234,2248.8575,...,456.62,445.2966,11.3234,2248.8575,NaN,NaN,1803.5609,NaN,NaN,NaN
1611016,1,1479,80357,33,2018-01-15,2018-02-15,456.62,447.5388,9.0812,1803.5609,...,456.62,447.5388,9.0812,1803.5609,NaN,NaN,1356.0222,NaN,NaN,NaN
1611017,1,1479,80357,34,2018-02-15,2018-03-15,456.62,449.7922,6.8278,1356.0222,...,456.62,449.7922,6.8278,1356.0222,NaN,NaN,906.2299,NaN,NaN,NaN
1610980,1,1479,80357,35,2018-03-15,2018-04-15,456.62,452.0570,4.5630,906.2299,...,456.62,452.0570,4.5630,906.2299,NaN,NaN,454.1730,NaN,NaN,NaN
1610999,1,1479,80357,36,2018-04-15,2199-01-01,456.46,454.1730,2.2868,454.1730,...,456.46,454.1730,2.2868,454.1730,NaN,NaN,0.0000,NaN,NaN,NaN
1611014,1,1479,80357,NaN,None,None,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.77,0.0000,68.7700

In [128]:
z=investor_returns1.loc[investor_returns1.interval_payback_date.isnull(),['dwh_country_id','fk_loan','fk_user','transaction_date']]

In [131]:
z.to_clipboard()

In [118]:
y

                                          transaction_date  \
dwh_country_id fk_loan fk_user match_date
1              3       38      2014-02-15       2014-02-18
                               2014-03-15       2014-03-18
                               2014-04-15       2014-04-16
                               2014-05-15       2014-05-16
                               2014-06-15       2014-06-17
                               2014-07-15       2014-07-15
                               2014-08-15       2014-08-18
                               2014-09-15       2014-09-15
                               2014-10-15       2014-10-15
                               2014-11-15       2014-10-15
                               2014-12-15       2014-12-15
                               2015-01-15       2015-01-15
                               2015-02-15       2015-01-15
                               2015-03-15       2015-02-23
                               2015-04-15       2015-04-22
                               2015-05-15       2015-05-22
                               2015-06-15       2015-05-22
                               2015-07-15       2015-05-22
                               2015-08-15       2015-05-22
                               2015-09-15       2015-05-22
                               2015-10-15       2015-05-22
                               2015-11-15       2015-05-22
                               2015-12-15       2015-05-22
                               2016-01-15       2015-05-22

                                           eur_residual_principal_amount_plan
dwh_country_id fk_loan fk_user match_date
1              3       38      2014-02-15                            768.1455
                               2014-03-15                            736.1662
                               2014-04-15                            704.0616
                               2014-05-15                            671.8311
                               2014-06-15                            639.4743
                               2014-07-15                            606.9906
                               2014-08-15                            574.3797
                               2014-09-15                            541.6409
                               2014-10-15                            508.7738
                               2014-11-15                            508.7738
                               2014-12-15                            442.6527
                               2015-01-15                            409.3976
                               2015-02-15                            409.3976
                               2015-03-15                            376.0122
                               2015-04-15                            308.8484
                               2015-05-15                            275.0689
                               2015-06-15                            275.0689
                               2015-07-15                            275.0689
                               2015-08-15                            275.0689
                               2015-09-15                            275.0689
                               2015-10-15                            275.0689
                               2015-11-15                            275.0689
                               2015-12-15                            275.0689
                               2016-01-15                            275.0689

In [79]:
y.head(20)

                                  transaction_date  eur_residual_payment_plan
dwh_country_id fk_loan fk_user
1              3       38      0        2014-10-15                        NaN
                               1        2014-09-15                        NaN
                               2        2014-08-18                        NaN
                               3        2014-07-15                        NaN
                               4        2014-06-17                        NaN
                               5        2014-05-16                        NaN
                               6        2014-04-16                        NaN
                               7        2014-03-18                        NaN
                               8        2014-02-18                        NaN
                               9        2015-01-15                        NaN
                               10       2014-12-15                        NaN
                               11       2015-02-23                        NaN
                               12       2015-03-23                        NaN
                               13       2015-05-22                        NaN
                               14       2015-04-22                        NaN
                       59      0        2014-08-18                        NaN
                               1        2014-07-15                        NaN
                               2        2014-06-17                        NaN
                               3        2014-02-18                        NaN
                               4        2014-05-16                        NaN

In [71]:
cash=generate_cashflows_act_investor(investor_returns,loan_fundings1)

In [58]:
investor_returns.head()

,dwh_country_id,fk_loan,fk_user,interval,interval_payback_date,next_interval_payback_date,payment_amount_plan,principal_amount_plan,interest_amount_plan,initial_principal_amount_plan,...,eur_payment_amount_plan,eur_principal_amount_plan,eur_interest_amount_plan,eur_initial_principal_amount_plan,eur_sum_interval_interest_amount_plan,eur_residual_interest_amount_plan,eur_residual_principal_amount_plan,eur_payment_amount_transaction,eur_principal_amount_transaction,eur_interest_amount_transaction
0,16,1,3,6,2014-10-15,2014-11-15,112.3,108.0135,4.2865,768.8490,...,26.8259,25.8019,1.0239,183.6601,8.2736,3.0945,157.8582,26.825854,25.945768,0.880086
1,16,1,3,5,2014-09-15,2014-10-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.825854,25.801918,1.023936
2,16,1,3,5,2014-09-15,2014-10-15,112.3,107.4147,4.8853,876.2637,...,26.8259,25.6589,1.1670,209.3190,7.2497,4.1185,183.6601,26.825854,25.658866,1.166988
3,16,1,3,4,2014-08-15,2014-09-15,112.3,106.8191,5.4809,983.0828,...,26.8259,25.5166,1.3093,234.8356,6.0827,5.2855,209.3190,26.825854,25.516606,1.309248
4,16,1,3,3,2014-07-15,2014-08-15,112.3,106.2269,6.0731,1089.3098,...,26.8259,25.3751,1.4507,260.2107,4.7734,6.5947,234.8356,NaN,NaN,NaN

In [72]:
cash[(cash.fk_loan==1) & (cash.fk_user==3)].sort('date',inplace=False)

,date,dwh_country_id,fk_loan,fk_user,payment,originated_since_date,dcf
283278,2014-04-03,16,1,3,-310.539700,2014-04-03,0.994521
283284,2014-05-15,16,1,3,26.825854,2014-04-03,0.879452
283283,2014-06-16,16,1,3,26.825854,2014-04-03,0.791781
283282,2014-08-26,16,1,3,26.825854,2014-04-03,0.597260
283281,2014-09-17,16,1,3,26.825854,2014-04-03,0.536986
283280,2014-10-14,16,1,3,26.825854,2014-04-03,0.463014
283279,2014-11-14,16,1,3,26.825854,2014-04-03,0.378082
283289,2014-12-12,16,1,3,26.825854,2014-04-03,0.301370
283288,2015-01-15,16,1,3,26.825854,2014-04-03,0.208219
283287,2015-02-13,16,1,3,26.825854,2014-04-03,0.128767
283286,2015-03-13,16,1,3,26.825854,2014-04-03,0.052055
283285,2015-04-14,16,1,3,26.823466,2014-04-03,-0.035616

In [62]:
z=investor_returns
z[(z.fk_loan==1) & (z.fk_user==3)].sort('interval',inplace=False)

,dwh_country_id,fk_loan,fk_user,interval,interval_payback_date,next_interval_payback_date,payment_amount_plan,principal_amount_plan,interest_amount_plan,initial_principal_amount_plan,...,eur_payment_amount_plan,eur_principal_amount_plan,eur_interest_amount_plan,eur_initial_principal_amount_plan,eur_sum_interval_interest_amount_plan,eur_residual_interest_amount_plan,eur_residual_principal_amount_plan,eur_payment_amount_transaction,eur_principal_amount_transaction,eur_interest_amount_transaction
6,16,1,3,1,2014-05-15,2014-06-15,112.30,105.0523,7.2477,1300.0000,...,26.8259,25.0945,1.7313,310.5397,1.7313,9.6368,285.4452,26.825854,25.094543,1.731311
5,16,1,3,2,2014-06-15,2014-07-15,112.30,105.6380,6.6620,1194.9477,...,26.8259,25.2345,1.5914,285.4452,3.3227,8.0454,260.2107,26.825854,25.234450,1.591404
4,16,1,3,3,2014-07-15,2014-08-15,112.30,106.2269,6.0731,1089.3098,...,26.8259,25.3751,1.4507,260.2107,4.7734,6.5947,234.8356,NaN,NaN,NaN
3,16,1,3,4,2014-08-15,2014-09-15,112.30,106.8191,5.4809,983.0828,...,26.8259,25.5166,1.3093,234.8356,6.0827,5.2855,209.3190,26.825854,25.516606,1.309248
1,16,1,3,5,2014-09-15,2014-10-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.825854,25.801918,1.023936
2,16,1,3,5,2014-09-15,2014-10-15,112.30,107.4147,4.8853,876.2637,...,26.8259,25.6589,1.1670,209.3190,7.2497,4.1185,183.6601,26.825854,25.658866,1.166988
0,16,1,3,6,2014-10-15,2014-11-15,112.30,108.0135,4.2865,768.8490,...,26.8259,25.8019,1.0239,183.6601,8.2736,3.0945,157.8582,26.825854,25.945768,0.880086
13,16,1,3,7,2014-11-15,2014-12-15,112.30,108.6157,3.6843,660.8355,...,26.8259,25.9458,0.8801,157.8582,9.1537,2.2145,131.9124,26.825854,26.090420,0.735434
12,16,1,3,8,2014-12-15,2015-01-15,112.30,109.2213,3.0787,552.2197,...,26.8259,26.0904,0.7354,131.9124,9.8891,1.4790,105.8220,NaN,NaN,NaN
10,16,1,3,9,2015-01-15,2015-02-15,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.825854,26.382148,0.443706
11,16,1,3,9,2015-01-15,2015-02-15,112.30,109.8302,2.4698,442.9984,...,26.8259,26.2359,0.5900,105.8220,10.4791,0.8891,79.5861,26.825854,26.235879,0.589975
9,16,1,3,10,2015-02-15,2015-03-15,112.30,110.4425,1.8575,333.1682,...,26.8259,26.3821,0.4437,79.5861,10.9228,0.4453,53.2040,26.825854,26.529233,0.296621
8,16,1,3,11,2015-03-15,2015-04-15,112.30,111.0583,1.2417,222.7257,...,26.8259,26.5292,0.2966,53.2040,11.2194,0.1487,26.6747,26.823466,26.674750,0.148716
7,16,1,3,12,2015-04-15,2199-01-01,112.29,111.6674,0.6226,111.6674,...,26.8235,26.6747,0.1487,26.6747,11.3681,0.0000,0.0000,NaN,NaN,NaN

In [ ]:
if use_outstanding:
        residual=act['fk_loan','fk_user_investor', \
                            'residual_principal_amount_investor']].\
            rename(columns={'eur_residual_principal_amount_plan':'payment'})
        
    else:
        residual=payment_plans.loc[(payment_plans.interval_payback_date>EOM_date) &\
                                   (payment_plans.fk_loan.isin(live_loans)), \
                                   ['fk_loan','fk_user_investor', 'interval_payback_date', \
                                    'initial_principal_amount_investor']]\
                                    .sort('interval_payback_date',inplace=False)\
                                    .groupby(['fk_loan','fk_user_investor']).first().reset_index()\
                                    .rename(columns={'fk_loan':'id_loan',
                                                     'initial_principal_amount_investor':'payment'})
        del residual['interval_payback_date']
    residual['date']=np.datetime64(EOM_date,'D')
    
    # for defaulted loans always use full outstanding in arrears residual['payment']=
    has_defaulted=(act_EOM.in_arrears_since_days_30360>90)
    if (has_defaulted.sum()>0):
        recovery_payment=act_EOM[has_defaulted].copy()
    
        recovery_payment['recovery']=recovery(recovery_payment['residual_principal_amount_borrower'])
        recovery_payment=recovery_payment.merge(loan_funding[['fk_loan','fk_user','loan_coverage1']],\
                                            left_on=['fk_loan','fk_user_investor'], right_on=['fk_loan','fk_user'],how='left')
        recovery_payment['payment']=.99 *recovery_payment['recovery']*recovery_payment['residual_principal_amount_borrower']\
                                    *recovery_payment['loan_coverage1']/100.0
    
    
        recovery_payment=recovery_payment[['fk_loan','fk_user_investor','payment']]\
                    .rename(columns={'fk_loan':'id_loan'})
        recovery_payment['date']=np.datetime64(EOM_date,'D')
    else:
        recovery_payment=None